.header {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    
}

.conteiner {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.nav-top-panel {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 35px;

        span {
            font-family: 'Futura PT';
            font-style: normal;
            font-weight: 450;
            font-size: 18px;
            line-height: 140%;
            color: #2B2A28;
        }
}

.nav-top-panel-btn {
    display: flex;
    width: 153px;
    height: 34px;
    justify-content: space-between;
    align-items: center;
}

.nav-bottom-panel {
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 35px;
        ul {
            justify-content: space-between;
            align-items: center;
            display: flex;
            width: 1130px;
                li{
                    cursor: pointer;
                    padding: 6px 15px;
                    font-family: 'Futura PT';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 130%;
                    color: #2B2A28;
                }

                li:hover{
                    background: #FFECC8;
                    border-radius: 10px;
                }
        }
        span{
            font-family: 'Futura PT';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 130%;
            color: #F93C00;
        }
}